body{
background: content-box radial-gradient(rgb(218, 226, 161), rgb(159, 219, 165));
}

h1 {
        color: #135833;
        font-size: 32px;
        font-weight: 100;
        font-weight: bolder;
        line-height: 28px;
        margin-bottom: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      }

      ul {
        margin: 0;
        padding: 0;
      }
      
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        color: #135833;
        font-size: 18px;
        font-weight: 100;
        line-height: 19px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana
        
      }
      li:first-letter {
        text-transform: capitalize;
      }
      .weather-app-wrapper {
        max-width: 600px;
        margin: 30px auto;
      }
      .weather-app {
        max-width: 600px;
        margin: 30px auto;
        padding: 20px;
        border: 1px solid #dadde1;
        border-radius: 5px;
      }
      .overview {
        margin-bottom: 20px;
      }
      .weather-temperature img {
        margin-right: 5px;
        height: 64px;
        width: 64px;
      }
      .weather-temperature strong {
        color:#135833;
        font-size: 50px;
        line-height: 1;
        font-weight: 400;
      }
      .weather-temperature .units {
        position: relative;
        font-size: 16px;
        top: -34px;
      }
      .weather-temperature .active {
        color: rgb(33, 33, 33);
        cursor: default;
      }
      
      .weather-temperature .active:hover {
        text-decoration: none;
      }

      .weather-forecast {
        margin-top: 20px;
        text-align: center;
        color: #000;
      }
      
      .weather-forecast-date {
        font-size: 16px;
        opacity: 0.5;
      }
      
      .weather-forecast-temperature-min {
        opacity: 0.5;
      }
      
      .weather-forecast-temperatures {
        font-size: 13px;
      }